.messenger {
  height: 85vh;
  display: flex;
}

.chatMenu {
  flex: 2;
  border-right: 1px solid gray;
}
.chatBox {
  flex: 10;
}
.chatBoxBottom {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chatMessageInput {
  width: 90%;
  padding: 0.3rem;
}
.chatSubmitButton {
  padding: 0.8rem;
  cursor: pointer;
  background-color: lightseagreen;
  border: none;
  border-radius: 1rem;
  color: white;
}
/* .chatOnline {
  flex: 3;
} */

.chatMenuWrapper,
.chatBoxWrapper {
  padding: 1.2rem;
  height: 100%;
}

.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chatBoxTop {
  height: 100%;
  overflow-y: scroll;
}
