.heroSection__article {
  display: grid;
  justify-content: center;

  grid-template-columns: 45% 45%;
  margin-top: 5rem;

  &__text {
    margin-top: 6rem;
    margin-left: 3rem;
    h3 {
      font-family: "Reem Kufi";
      font-weight: 900;
    }
    p,
    a {
      font-family: Roboto;
    }
    a {
      background-color: $colmain;
      padding: 0.6rem;
      border-radius: 5rem;
      text-decoration: none;
      color: black;
      scroll-behavior: smooth;
    }
    h3,
    p,
    a {
      margin: 0.8rem;
    }
  }
}

.Articles__header {
  text-align: center;
  font-family: Roboto;

  h2 {
    display: inline;
    border-bottom: 3px solid $colmain;
    width: fit-content;
  }
}

.articles {
  .article {
    background-color: white;
    display: grid;
    grid-template-columns: 30% 70%;


    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;

    div .article__image {
      img {
        max-width: 20rem;
        margin-right: 2rem;
      }
    }

    div  {
      margin: 0.5rem;
      font-family: Roboto;
      small {
        color: #aaaaaa !important;
      }
      h4,
      p {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      small,
      h4,
      p,
      a {
        margin: 0.8rem;
      }
      a {
        display: block;
        color: navy;
        text-align: right;
        cursor: pointer;
        font-weight: bolder;

        &:hover {
          color: $colmain;
        }
      }
    }
  }
}

@media (max-width:992px){
  .heroSection__article{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__text {
      margin-top: 3rem;
    }
  }
}


    @media (max-width:464px){
      .article {
        display: flex;
        flex-direction: column;
        justify-content: center;    
        div {
          img {
            max-width: 90%;
          }
        }      } 
    }

