.messenger {
  height: 80vh;
  display: flex;
  font-family: Roboto;
  margin: 0.5rem;

  .chatMenu {
    flex: 3;
    margin: 1rem;

    background-color: white;
    border-radius: 3rem;
    // max-height: fit-content;
    padding: 1rem;
  }
  .chatBox {
    margin: 1rem;

    flex: 10;
    background-color: white;
    border-radius: 3rem;
  }
}

.chatBoxBottom {
  margin: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chatMessageInput {
  border-radius: 2rem;
  width: 90%;
  padding: 1rem;
  background-color: #f4f9f9;
  outline: none;
}
.chatSubmitButton {
  padding: 0.8rem;
  cursor: pointer;
  background-color: $colmain;
  border: none;
  border-radius: 1rem;
  color: $colfont;
  outline: none;
}
/* .chatOnline {
    flex: 3;
  } */

.chatMenuWrapper,
.chatBoxWrapper {
  padding: 0.5rem;
  height: 100%;
}

.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chatBoxTop {
  height: 100%;
  overflow-y: scroll;
}

.NoConversation {
  text-align: center;
  font-size: x-large;
  margin-top: 3rem;
  color: $colfont;
  text-transform: uppercase;
}

// @media (max-width:1023px){
//   .messenger {
//       display: flex;
//   flex-direction: column;
//   justify-content: center;  
//   }
 
// }

@media (max-width:700px){


.chatMessageInput {

  padding: .5rem;
  

}
.chatSubmitButton {
  padding: 0.4rem;

}
  
}

