.titlestyle{
    font-weight: bold;
}
.inputstyle{
    background-color: $colbg;
    border-radius: 2rem;
    padding: .5rem 1rem;
    outline: none;
}
.linkstyle{
    text-decoration: none;
    color: $colfont;
    &:hover{
        color: $colfont;
        cursor: pointer;
    }
}