.mainbtn{
    background-color: $colmain;
    border-radius: 5rem;
    padding: .3rem 1rem;
    width: fit-content;
    font-weight: 500;
    &:hover{
        background-color: $colsecondary;
        cursor: pointer;
    }
}