.message {
  display: flex;
  flex-direction: column;
  margin-top: 0.8rem;
}

.messageTop {
  display: flex;
  margin: 0.3rem;
}

.messageImg {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-right: 0.3rem;
}

.messageText {
  background-color: #1877f2;
  padding: 0.6rem;
  color: white;
  border-radius: 1rem;
}

.messageBottom {
  margin-top: 0.3rem;
  font-size: small;
}

.own {
  align-items: flex-end;
}

.own .messageText {
  background-color: rgb(235, 235, 235);
  color: black;
}
